@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy-600: 25, 79, 158; /* #194f9e */
  --navy-900: 11, 36, 71; /* #0b2447 */
}

body {
  color: rgb(var(--navy-900));
  background-color: #ffffff;
}
